.btn-1 {
    margin: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: red;
    border: 0 ;
    border-radius: 10px;
    padding: 10px;
    }

    .btn{

    }