.container {
    height: 600px;
    width: 800px;
    margin: 25px auto;
    border: solid 1px silver;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "header header header header header"
        "aside main main main aside"
        "linha linha main main aside"
        "box box box1 box1 box1"
        "footer footer footer footer footer";

}

.box1 {
    background-color: darkcyan;
    grid-area: header;
}

.box2 {
    background-color: darkblue;
    grid-area: aside;
}

.box3 {
    background-color: darkviolet;
    grid-area: main;
}

.box4 {
    background-color: dimgray;
    grid-area: box;
}

.box5 {
    background-color: azure;
    grid-area: box1;
}
.box6{
    background-color: aqua;
    grid-area: linha;
}
.box7{
    background-color: bisque;
    grid-area: footer;
}