.ti{
color: chartreuse;
font-style: italic;
}

body{
    background-color:black ;

/* .class
# id */ 

}

.so{
    font-style: italic;
}

.cor{
    color: crimson;
}

#ola{
color: chartreuse;

}
#alo{
    color: orangered;
}

#oi{
color: fuchsia;
}

.fundo{
    background-color: whitesmoke;
}