*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    }
    
    body{
    background-color: black;
    height: 100vh;
    }
    
    .interface{
        max-width: 1280px;
        margin: 0 auto; 
        }
    
    header {
    padding: 40px;
}


header > .interface{
display: flex;
align-items: center;
justify-content: space-between;
}

header a{
color: white;
}

header nav ul{
list-style-type: none;

}
header nav ul li{
display: inline-block;


}

header .btn-button{
padding: 10px 40px;
font-size: 17px;
font-weight: 600;
background-color: red;
}